<section class="clearfix bg-dark">
  <div class="container">
    <div class="row">
      <h3>Job Title: {{job.title}}</h3>
      <p>Description: {{job.description}}</p>
    </div>
    <div class="row">
      <h3>Add a Bid</h3>
      <form id="job" method="POST" action="/jobs/{{job.id}}/bids">
        <div class="form-group">
          <label for="amount">Bid Amount</label>
          <input class="text" name="amount" type="text" required/>
        </div>
        <div class="form-group">
          <label for="duration">How long will it take to complete?</label>
          <input name="duration" type="text" class="integer" placeholder="In days..." required />
        </div>
        <button type="submit" class="btn-submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Contractor</th>
            <th>Bid Amount</th>
            <th>Est. Duration</th>
            <th>Accept Bid</th>
          </tr>
        </thead>
        <tbody>
          {{#each bids}}
            <tr>
              <td>{{UserId}}</td>
              <td>{{amount}}</td>
              <td>{{duration}}</td>
              <td>
                <form action="/{{JobId}}/bids/{{id}}?_method=PUT" method="POST">
                  <input type="hidden" name="accepted" value="1">
                  <button class="btn-submit" type="submit">Accept?</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
{{!-- {{> editjob}} --}}