<div class="row">
  <h3>Job Title: {{job.title}}</h3>
  <p>Description: {{job.description}}</p>
</div>
<div class="row">
  <h3>Add a Bid</h3>
  <form id="job" method="POST" action="/jobs/{{job.id}}/bids">
    <div class="form-group">
      <label for="bidAmount">Bid Amount</label>
      <input class="text" name="bidAmount" type="text" />
    </div>
    <div class="form-group">
      <label for="jobDuration">Job Duration</label>
      <input name="jobDuration" type="text" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</form>
</div>
<div class="row"></div>
<p>Bids</p>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Contractor</th>
          <th>Bid Amount</th>
          <th>Estimated Duration</th>
          <th>Accept Bid</th>
        </tr>
      </thead>
      <tbody>
        {{#each bids}}
          <tr>
            <td>{{UserId}}</td>
            <td>{{amount}}</td>
            <td>{{duration}}</td>
            <td>
              <form action="/bids/{{id}}?_method=PUT" method="POST">
                <input type="hidden" name="accepted" value="1">
                <button class="btn btn-default" type="submit">Accept?</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{!-- {{> editjob}} --}}